.red,.green,.blue,.yellow{
    width: 200px;
height: 200px;
display:inline-block;
margin: 10px;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}

.block{
    display: inline-block;
}

p{
     position: absolute;
font-size: 250px;
font-weight: 900;
top: -150px;
left: 500px;
}
.block{
    margin-right:  70px;
}